.categoryList {
  list-style: none;
  padding-left: 0;
}

.categoryListItem {
  border-bottom: 2px solid #f5f5f5;
  padding: 15px 10px;
  box-sizing: border-box;
  line-height: 2;
}

.categoryListItem:hover {
  background-color: #f5f5f5;
}
