$buttonColor: #cecece;

.search {
  display: flex;
  justify-content: space-between;
  width: 230px;

  input,
  button {
    border: 1px solid $buttonColor;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.875em;
    line-height: 1.7;
    outline: none;
    padding: .3em .875em;
    transition: all .2s;
  }

  input {
    border-bottom-left-radius: .25em;
    border-right: none;
    border-top-left-radius: .25em;
    width: 100%;
  }
  button {
    background-color: $buttonColor;
    border-bottom-right-radius: .25em;
    border-top-right-radius: .25em;

    &:hover {
      background-color: darken($buttonColor, 8%);
      border-color: darken($buttonColor, 8%);
    }

    &:active {
      background-color: darken($buttonColor, 16%);
      border-color: darken($buttonColor, 16%);
    }

    &:disabled {
      background-color: lighten($buttonColor, 16%);
      cursor: not-allowed;
    }
  }
}
