.wrap {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.header {
  width: 100%;
}

.main {
  display: flex;
  height: 100%;  
}

.left {
  flex: 1 0 0;
}

.right {
  flex: 3 0 0;
}

