.redBg {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.mainContent {
    display: flex;
    justify-content: space-between;
}

.appWrap {
    max-width: 1080px;
    margin: 0 auto;
}
