.input {
    border: none;
    background-color: rgba(92, 112, 128, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
    display: flex;
    box-sizing: border-box;
    outline: none;
    padding: 5px 8px;
}
